body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #F6F7FB;
  color: #383838; }
  body a {
    color: inherit; }

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }
  header .col-sm-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  header .item-social img {
    margin-right: 19px; }
  header .item-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    header .item-logo img {
      width: 180px; }
  header .item-contact {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    header .item-contact .btn-receive {
      width: 180px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: 50px;
      border: 1px solid #C4C4C4;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 92px; }
      header .item-contact .btn-receive a {
        color: #C4C4C4;
        font-size: 12px;
        margin-left: 6px; }

footer {
  padding: 30px 0;
  min-height: 276px;
  background-color: #383838;
  color: #fff;
  font-size: 16px; }
  footer .logo {
    width: 120px;
    margin-bottom: 20px; }
  footer a {
    color: #fff;
    display: block;
    margin-bottom: 15px; }
  footer h3 {
    font-size: 24px;
    font-weight: bold;
    color: #F4CA6D;
    margin-bottom: 25px; }
  footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 26px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    footer .contact p {
      max-width: 300px;
      margin: 0; }
  footer .wrap-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 51px;
    height: 51px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-right: 26px; }

.menu-bar {
  min-height: 79px;
  margin-top: 100px; }

.wrapper {
  min-height: calc(100vh - 505px); }

.last-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fff;
  min-height: 50px;
  background-color: #2B2B2B; }

.centered {
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
          justify-content: center !important;
  display: -ms-flexbox !important;
  -ms-flex-pack: center !important;
  -ms-flex-align: center !important; }

.centered-vertical {
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-align: center !important;
          align-items: center !important;
  display: -ms-flexbox !important;
  -ms-flex-align: center !important; }

.p-main {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #383838;
  margin: 25px 0; }

.label-style-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  min-height: 30px;
  background: #FFEABC;
  border-radius: 10px; }

.label-style-1 {
  font-size: 12px;
  margin-bottom: 12px;
  width: 57px;
  text-align: center;
  min-height: 19px;
  background: #F4CA6D;
  border-radius: 10px; }

.name-post {
  font-weight: bold;
  color: #F4CA6D; }

.img-item {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .img-item img {
    position: absolute;
    top: 9px;
    right: 12px; }
  .img-item .label-style-2 {
    position: absolute;
    right: 6px;
    bottom: 6px; }

.brand-name {
  font-weight: bold;
  font-size: 34px;
  color: #383838;
  margin-bottom: 8px; }

.vote {
  font-size: 12px; }
  .vote .fa {
    font-size: 14px; }
  .vote .checked {
    color: #F4CA6D; }

.aside-image {
  width: 100%;
  height: 470px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin: 40px 0;
  position: relative; }

.post-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px; }
  .post-small img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px; }
  .post-small p {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #383838; }

.h-decor {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #383838;
  margin-top: 20px;
  position: relative; }
  .h-decor:before {
    content: '';
    position: absolute;
    left: 0;
    top: -22px;
    width: 75px;
    height: 3px;
    background: #F4CA6D;
    border-radius: 94px; }

.more-info {
  font-size: 12px; }

button:focus {
  outline: 0; }

.wrap-product {
  margin-bottom: 50px; }
  .wrap-product .card {
    border-radius: 10px;
    border: 0; }
    .wrap-product .card .card-body {
      padding-top: 5px; }
    .wrap-product .card .prod-name {
      font-weight: 500;
      text-align: justify;
      margin-bottom: 18px; }
    .wrap-product .card .new-price {
      font-weight: 800;
      font-size: 36px;
      text-align: justify;
      color: #DD2829;
      margin-bottom: 0; }
    .wrap-product .card .old-price {
      font-weight: bold;
      font-size: 24px;
      text-align: justify;
      -webkit-text-decoration-line: line-through;
              text-decoration-line: line-through;
      color: #CCCCCC;
      margin-bottom: 0; }
  .wrap-product .card-img-top {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 280px;
    border-radius: 10px 10px 0px 0px; }

.see-all {
  font-weight: normal;
  font-size: 18px;
  color: #F4CA6D; }

.wrap-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .wrap-tag .tag-item {
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #383838;
    background: #FAFAFA;
    border-radius: 61px;
    padding: 8px 15px; }

.tag-label {
  padding: 0 5px;
  font-size: 18px;
  text-transform: uppercase;
  color: #383838; }

.tag-content {
  margin: 63px 0 40px 0; }
  .tag-content .wrap-tag {
    padding-left: 30px; }

.banner-1 {
  width: 100%;
  height: 160px;
  background: #393939;
  border-radius: 16px;
  margin-top: 42px;
  position: relative; }
  .banner-1 p {
    font-weight: bold;
    font-size: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #FFFFFF; }

.banner-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px; }
  .banner-2 p {
    font-weight: bold;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #FFFFFF; }

.category-item {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #383838;
  margin-bottom: 17px; }

.block-title {
  background: #fff;
  padding-top: 36px; }
  .block-title h1 {
    margin-bottom: 26px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #383838; }
  .block-title .wrap-title {
    text-align: center; }
    .block-title .wrap-title span {
      margin: 0 30px;
      font-size: 16px; }
  .block-title .des-title {
    text-align: center;
    color: #383838; }
  .block-title .more-info {
    text-align: center; }
    .block-title .more-info img {
      margin: 0 8px 3px 25px; }

.post-content p:not(.p-main) {
  line-height: 16px;
  margin-bottom: 27px;
  text-align: justify;
  color: #383838; }
.post-content .p-main {
  margin: 47px 0 19px 0; }

.see-more {
  width: 480px;
  height: 50px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid #C4C4C4;
  background: transparent;
  color: #383838;
  margin: 65px auto auto auto; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-80 {
  margin-top: 80px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pd-lr-10 {
  padding: 0 10px !important; }

.m-lr--10 {
  margin: 0 -10px !important; }

input:focus {
  outline: 0; }

@media (min-width: 1200px) {
  .container {
    min-width: 1210px; } }
@media (max-width: 550px) {
  .see-more {
    width: 100%; } }
.wrap-home .block-1 {
  background-color: #fff; }
  .wrap-home .block-1 .wrap-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .wrap-home .block-1 .wrap-tag .tag-item {
      margin: 10px;
      min-width: 130px;
      min-height: 30px;
      background: #FAFAFA;
      border-radius: 61px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .wrap-home .block-1 .content {
    position: relative;
    min-height: 590px; }
    .wrap-home .block-1 .content h2 {
      position: relative;
      font-size: 24px;
      text-transform: uppercase;
      color: #F4CA6D;
      margin-bottom: 30px; }
      .wrap-home .block-1 .content h2:before {
        content: '';
        position: absolute;
        left: 0;
        top: -22px;
        width: 100px;
        height: 4px;
        background: #F4CA6D;
        border-radius: 102px; }
    .wrap-home .block-1 .content .container {
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .wrap-home .block-1 .content .col-md-5 {
      padding-left: 44px; }
    .wrap-home .block-1 .content .next {
      text-align: right;
      margin-bottom: 48px; }
      .wrap-home .block-1 .content .next a {
        font-style: italic;
        font-size: 12px;
        color: #383838; }
    .wrap-home .block-1 .content .wrap-action {
      font-size: 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-bottom: 30px; }
      .wrap-home .block-1 .content .wrap-action div {
        margin-right: 20px; }
        .wrap-home .block-1 .content .wrap-action div img {
          margin-right: 7px; }
    .wrap-home .block-1 .content .main-img {
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 57%;
      height: 100%;
      top: 0;
      left: 0; }
.wrap-home .block-2 .item-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 38px 0;
  padding: 0 10px; }
  .wrap-home .block-2 .item-style img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px; }
  .wrap-home .block-2 .item-style .label {
    font-size: 12px;
    margin-bottom: 12px;
    width: 57px;
    text-align: center;
    min-height: 19px;
    background: #F4CA6D;
    border-radius: 10px; }
  .wrap-home .block-2 .item-style p {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #383838; }
.wrap-home .block-2 .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px; }
  .wrap-home .block-2 .slider .card {
    width: 280px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px; }
    .wrap-home .block-2 .slider .card h4 {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase; }
    .wrap-home .block-2 .slider .card .more-info {
      font-size: 12px; }
      .wrap-home .block-2 .slider .card .more-info span {
        font-weight: bold;
        color: #F4CA6D; }
      .wrap-home .block-2 .slider .card .more-info img {
        margin: 0 6px 0 25px; }
.wrap-home .block-2 .direction {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 54px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #CCCCCC; }
  .wrap-home .block-2 .direction.left {
    left: 0; }
  .wrap-home .block-2 .direction.right {
    right: 0; }
.wrap-home .block-3 {
  padding: 60px 0;
  background-color: #fff; }
  .wrap-home .block-3 .main-img {
    height: 388px;
    width: 100%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .wrap-home .block-3 .description {
    margin: 30px 0 35px 0; }
    .wrap-home .block-3 .description .text-content {
      margin-bottom: 39px; }
  .wrap-home .block-3 .more-info img {
    margin: 0 8px 3px 25px; }
  .wrap-home .block-3 .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 33px 15px;
    border-bottom: 1px solid #C4C4C4; }
    .wrap-home .block-3 .post:last-child {
      border-bottom: none; }
    .wrap-home .block-3 .post:nth-child(1) {
      margin-top: 70px; }
    .wrap-home .block-3 .post .img-post {
      width: 280px;
      height: 280px;
      -o-object-fit: contain;
         object-fit: contain;
      margin-right: 20px; }
    .wrap-home .block-3 .post .label-style-2 {
      margin-bottom: 30px; }
    .wrap-home .block-3 .post .more-info {
      margin-top: 50px; }
  .wrap-home .block-3 .wrap-paginate {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrap-home .block-3 .wrap-paginate .page-item {
      font-size: 12px;
      width: 31px;
      height: 31px;
      margin: 0 3.5px;
      background: #F1F1F1;
      border-radius: 7px; }
      .wrap-home .block-3 .wrap-paginate .page-item.active .page-link {
        background: #F4CA6D; }
      .wrap-home .block-3 .wrap-paginate .page-item .page-link {
        background: #F1F1F1;
        border-radius: 7px;
        border: none !important;
        color: black; }
  .wrap-home .block-3 .aside {
    padding-right: 10px; }
    .wrap-home .block-3 .aside h3 {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      color: #383838;
      margin-top: 20px;
      position: relative; }
      .wrap-home .block-3 .aside h3:before {
        content: '';
        position: absolute;
        left: 0;
        top: -22px;
        width: 75px;
        height: 3px;
        background: #F4CA6D;
        border-radius: 94px; }
    .wrap-home .block-3 .aside .brand-name {
      position: relative;
      padding-left: 38px; }
      .wrap-home .block-3 .aside .brand-name .no {
        display: block;
        position: absolute;
        left: 2px;
        top: 11px;
        font-size: 14px;
        text-align: center;
        line-height: 22px;
        width: 22px;
        height: 22px;
        background: #fff; }
        .wrap-home .block-3 .aside .brand-name .no.active {
          background: #F4CA6D;
          border-radius: 6px; }
    .wrap-home .block-3 .aside .vote .checked {
      color: #F4CA6D; }
.wrap-home .block-4 .img-item {
  width: 100%;
  height: 195px; }
  .wrap-home .block-4 .img-item img {
    width: 18px;
    height: 15px; }
.wrap-home .block-4 .col-xl-4 {
  padding: 0 10px; }
.wrap-home .block-4 .label-style-2 {
  right: unset;
  left: 9px;
  bottom: 10px; }
.wrap-home .block-4 .p-main {
  font-size: 20px; }
.wrap-home .block-5 {
  background-color: #F4CA6D;
  padding: 32px 0; }
  .wrap-home .block-5 .col-md-6 {
    padding: 10px; }
  .wrap-home .block-5 h3 {
    color: #fff;
    margin-bottom: 26px; }
    .wrap-home .block-5 h3:before {
      background: #fff; }
  .wrap-home .block-5 .img-item {
    height: 388px; }
  .wrap-home .block-5 .label-style-2 {
    right: unset;
    left: 9px;
    bottom: 11px; }
  .wrap-home .block-5 .name-post {
    color: #383838; }
  .wrap-home .block-5 .more-info img {
    margin: 0 8px 3px 25px; }
  .wrap-home .block-5 .post-small {
    margin-bottom: 20px; }
    .wrap-home .block-5 .post-small .label-style-1 {
      background: #fff; }
    .wrap-home .block-5 .post-small img {
      width: 180px;
      height: 87px; }
.wrap-home .block-6 .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 33px 15px;
  border-bottom: 1px solid #C4C4C4; }
  .wrap-home .block-6 .post:last-child {
    border-bottom: none; }
  .wrap-home .block-6 .post:nth-child(1) {
    margin-top: 40px; }
  .wrap-home .block-6 .post .img-post {
    width: 180px;
    height: 180px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 20px; }
  .wrap-home .block-6 .post .label-style-2 {
    margin-bottom: 30px; }
  .wrap-home .block-6 .post .more-info {
    margin-top: 50px; }
    .wrap-home .block-6 .post .more-info img {
      margin: 0 8px 3px 25px; }
.wrap-home .block-7 .wrap-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 15px 0; }

.page-1 .block-3 .post:nth-child(1) {
  margin-top: 40px; }
.page-1 .aside-image {
  margin-top: 50px; }

.page-2 .block-title h1 {
  margin-bottom: 16px; }
.page-2 .block-3 {
  padding-top: 35px;
  padding-bottom: 22px; }
  .page-2 .block-3 .main-img {
    margin-bottom: 25px; }

.page-3 .block-contact {
  background-color: #fff; }
  .page-3 .block-contact h2 {
    text-align: center;
    padding: 35px 0 30px 0;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: #383838; }
  .page-3 .block-contact iframe {
    margin-bottom: 59px;
    width: 100%;
    height: 676px; }
  .page-3 .block-contact .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 26px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .page-3 .block-contact .contact p {
      max-width: 280px;
      margin: 0; }
  .page-3 .block-contact .wrap-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 51px;
    height: 51px;
    background: #F4CA6D;
    border-radius: 15px;
    margin-right: 26px; }
  .page-3 .block-contact .form div {
    padding: 0 10px; }
  .page-3 .block-contact .form input {
    height: 50px;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    margin-bottom: 18px; }
  .page-3 .block-contact .form textarea {
    height: calc(100% - 18px);
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    min-height: 15px; }
  .page-3 .block-contact .form .btn {
    float: right;
    width: 180px;
    height: 50px;
    background: #F4CA6D;
    border-radius: 16px;
    margin-bottom: 116px; }

.page-4 .block-img-news {
  min-height: 470px;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .page-4 .block-img-news .pre-news {
    padding: 11px 15px 20px 15px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    width: calc(100% - 12px);
    left: 6px;
    bottom: 6px; }
    .page-4 .block-img-news .pre-news .p-main {
      font-size: 14px;
      line-height: 18px;
      margin-top: 0; }
    .page-4 .block-img-news .pre-news .more-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .page-4 .block-img-news .pre-news .more-info img {
        margin-right: 6px; }
  .page-4 .block-img-news.size-1 .p-main, .page-4 .block-img-news.size-2 .p-main {
    margin: 0; }
  .page-4 .block-img-news.size-1 .pre-news, .page-4 .block-img-news.size-2 .pre-news {
    padding: 10px 15px; }
.page-4 .size-1 {
  min-height: 225px; }
.page-4 .size-2 {
  min-height: 280px; }
.page-4 .block-8 {
  background-color: #fff;
  padding: 25px 0; }
  .page-4 .block-8 .row {
    margin: 0 -10px; }
  .page-4 .block-8 .col-6, .page-4 .block-8 .col-md-6 {
    padding: 0 10px; }
.page-4 .block-9 {
  padding: 29px 0; }
  .page-4 .block-9 .label-div {
    padding: 0 5px; }
    .page-4 .block-9 .label-div h3 {
      font-size: 27px;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .page-4 .block-9 .label-div p {
      font-size: 16px;
      margin-bottom: 5px;
      font-weight: bold; }
  .page-4 .block-9 .wrap {
    background: #F4CA6D;
    border-radius: 16px;
    padding: 16px 19px 16px 60px; }
  .page-4 .block-9 .form-email {
    background: #FFFFFF;
    border-radius: 16px;
    position: relative;
    min-height: 68px;
    height: 100%; }
    .page-4 .block-9 .form-email img {
      cursor: pointer;
      position: absolute;
      right: 24px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .page-4 .block-9 .form-email input {
      position: absolute;
      height: 100%;
      left: 77px;
      width: calc(100% - 137px);
      border: 0; }
      .page-4 .block-9 .form-email input::-webkit-input-placeholder {
        font-size: 18px;
        color: #CCCCCC;
        font-weight: normal; }
      .page-4 .block-9 .form-email input:-ms-input-placeholder {
        font-size: 18px;
        color: #CCCCCC;
        font-weight: normal; }
      .page-4 .block-9 .form-email input::-ms-input-placeholder {
        font-size: 18px;
        color: #CCCCCC;
        font-weight: normal; }
      .page-4 .block-9 .form-email input::placeholder {
        font-size: 18px;
        color: #CCCCCC;
        font-weight: normal; }
.page-4 .block-10 {
  padding: 60px 0 40px 0;
  background: #fff; }
  .page-4 .block-10 .wrap-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px; }
  .page-4 .block-10 .see-more-link {
    background: #FAFAFA;
    border-radius: 61px;
    padding: 5px 20px; }
  .page-4 .block-10 .block-img-news {
    margin-bottom: 20px; }
    .page-4 .block-10 .block-img-news:not(.size-2) {
      height: 363px; }
    .page-4 .block-10 .block-img-news.special {
      height: calc(100% - 320px); }
  .page-4 .block-10 .col-left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .page-4 .block-10 .col-right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .page-4 .block-10 .more-info img {
    margin: 0 9px 0 0; }
  .page-4 .block-10 .more-info.current {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .page-4 .block-10 .more-info.current img {
      margin: 0 6px 0 25px; }
.page-4 .block-11 h3 {
  margin-top: 76px;
  margin-bottom: 44px;
  text-align: center;
  font-weight: bold;
  font-size: 36px; }
  .page-4 .block-11 h3:before {
    width: 100px;
    height: 6px;
    top: -18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
.page-4 .block-11 .main-img {
  height: 388px;
  width: 100%;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
.page-4 .block-11 .description {
  margin: 30px 0 35px 0; }
  .page-4 .block-11 .description .text-content {
    margin-bottom: 39px; }
.page-4 .block-11 .more-info img {
  margin: 0 8px 3px 25px; }
.page-4 .block-11 .col-xl-4 {
  margin-bottom: 34px; }
.page-4 .block-11 .see-more {
  margin: 48px auto 36px auto; }
.page-4 .block-12 {
  padding: 40px 0 33px 0;
  background-color: #F4CA6D; }
  .page-4 .block-12 .row-big .img-item {
    height: 267px; }
  .page-4 .block-12 .row-big .p-main {
    margin-bottom: 5px; }
  .page-4 .block-12 h3 {
    margin-bottom: 44px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #fff; }
    .page-4 .block-12 h3:before {
      background-color: #fff;
      width: 100px;
      height: 6px;
      top: -18px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .page-4 .block-12 .name-post {
    color: #383838; }
  .page-4 .block-12 .more-info img {
    margin: 0 6px 0 25px; }
  .page-4 .block-12 .col-md-6, .page-4 .block-12 .col-md-4 {
    padding: 0 10px;
    margin-bottom: 5px; }
.page-4 .block-13 h3 {
  margin-top: 76px;
  margin-bottom: 44px;
  text-align: center;
  font-weight: bold;
  font-size: 36px; }
  .page-4 .block-13 h3:before {
    width: 100px;
    height: 6px;
    top: -18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
.page-4 .block-13 .row-1 .video {
  width: 100%;
  height: 428px;
  background: #fff;
  border-radius: 10px; }
.page-4 .block-13 .row-1 .post-small {
  padding: 19px 0;
  margin: 0;
  border-bottom: 1px solid #CCCCCC; }
  .page-4 .block-13 .row-1 .post-small:first-child {
    padding-top: 0; }
  .page-4 .block-13 .row-1 .post-small:last-child {
    border: none; }
  .page-4 .block-13 .row-1 .post-small img {
    width: 140px;
    height: 110px; }
.page-4 .block-13 h4 {
  font-size: 24px;
  margin-top: 70px; }
.page-4 .block-13 .row-other .p-main {
  margin-top: 22px;
  font-size: 16px; }
.page-4 .block-13 .row-other .video {
  width: 100%;
  height: 226px;
  border-radius: 10px; }
.page-4 .block-13 .row-other .col-lg-4 {
  padding: 0 10px; }

.page-5 h1 {
  margin-top: 34px;
  margin-bottom: 29px;
  text-align: center;
  font-weight: bold;
  font-size: 36px; }
  .page-5 h1:before {
    width: 100px;
    height: 6px;
    top: -18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
.page-5 .block-image {
  padding: 29px 0 90px 0;
  background-color: #fff; }
  .page-5 .block-image .grid-sizer {
    width: calc((100% - 40px) / 3); }
  .page-5 .block-image .grid-item {
    width: calc((100% - 40px) / 3);
    margin-bottom: 20px; }
    .page-5 .block-image .grid-item.grid-item--width2 {
      width: calc(calc((100% - 40px) / 3 * 2) + 20px); }
    .page-5 .block-image .grid-item img {
      width: 100%; }

.page-7 {
  background: #fff; }
  .page-7 h1 {
    margin-top: 34px;
    margin-bottom: 29px;
    text-align: center;
    font-weight: bold;
    font-size: 36px; }
    .page-7 h1:before {
      width: 100px;
      height: 6px;
      top: -18px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .page-7 .block-image {
    padding: 24px 0 74px 0; }
    .page-7 .block-image .col-lg-4 {
      padding: 0 10px;
      margin-bottom: 20px; }
    .page-7 .block-image .card {
      border: 1px solid #CCCCCC;
      border-radius: 10px; }
      .page-7 .block-image .card .wrap-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 103px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .page-7 .block-image .card .wrap-logo img {
          max-width: 100%; }
      .page-7 .block-image .card .card-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 20px 22px 36px 22px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .page-7 .block-image .card .card-body .see-prod {
          margin-top: 10px;
          -ms-flex-item-align: end;
              align-self: flex-end;
          width: 136px;
          min-height: 40px;
          background: #F4CA6D;
          border-radius: 10px; }

.header-2 {
  background: #1B1B1B;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }
  .header-2 .main-logo {
    width: 180px; }
  .header-2 .wrap-menu {
    position: absolute;
    width: 116px;
    height: 100%;
    left: 0;
    top: 0;
    background: #FFBF30;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header-2 .wrap-menu .btn-menu {
      display: inline-block;
      cursor: pointer; }
    .header-2 .wrap-menu .bar1, .header-2 .wrap-menu .bar2, .header-2 .wrap-menu .bar3 {
      border-radius: 100px;
      width: 48px;
      height: 5px;
      background-color: #1B1B1B;
      margin: 8px 0;
      -webkit-transition: 0.4s;
      transition: 0.4s; }

.wrapper {
  min-height: calc(100vh - 429px); }

.page-8 {
  margin-top: 100px; }
  .page-8 .wrap-big-img {
    position: relative;
    margin-bottom: 50px; }
    .page-8 .wrap-big-img .big-img {
      min-height: 1135px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-filter: grayscale(1);
              filter: grayscale(1); }
    .page-8 .wrap-big-img .banner-text {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      width: 45%;
      position: absolute;
      padding: 3.5%;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background: rgba(255, 191, 48, 0.8);
      color: #FFFFFF; }
      .page-8 .wrap-big-img .banner-text h1 {
        font-size: 80px;
        line-height: 94px;
        text-transform: uppercase;
        margin-bottom: 22px;
        color: #FFFFFF; }
        .page-8 .wrap-big-img .banner-text h1:before {
          top: -30px;
          width: 200px;
          height: 10px;
          background: #fff; }
  .page-8 .block-14 p {
    text-align: justify;
    margin-bottom: 30px; }
  .page-8 .block-image {
    padding: 29px 0 110px 0; }
    .page-8 .block-image .grid-sizer {
      width: calc((100% - 40px) / 3); }
    .page-8 .block-image .grid-item {
      width: calc((100% - 40px) / 3);
      margin-bottom: 20px; }
      .page-8 .block-image .grid-item.grid-item--width2 {
        width: calc(calc((100% - 40px) / 3 * 2) + 20px); }
      .page-8 .block-image .grid-item img {
        width: 100%; }
  .page-8 .block-15 {
    margin-bottom: 50px; }
    .page-8 .block-15 p {
      margin-bottom: 30px;
      text-align: justify; }
    .page-8 .block-15 h2.center {
      font-size: 42px;
      text-align: center;
      margin-bottom: 53px; }
      .page-8 .block-15 h2.center:before {
        width: 380px;
        height: 10px;
        top: -37px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
    .page-8 .block-15 h2.right {
      font-size: 64px;
      margin-bottom: 27px;
      margin-top: 37px; }
      .page-8 .block-15 h2.right:before {
        width: 200px;
        height: 10px;
        top: -37px; }
    .page-8 .block-15 .img-center {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 800px;
      margin-bottom: 50px; }
    .page-8 .block-15 .content {
      position: relative;
      min-height: 610px;
      margin-bottom: 38px; }
      .page-8 .block-15 .content .col-special {
        padding-left: 52px; }
      .page-8 .block-15 .content .main-img {
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 45%;
        height: 100%;
        top: 0;
        left: 0; }

@media (max-width: 769px) {
  .big-img {
    min-height: 900px !important; }

  .banner-text {
    width: 60% !important; }
    .banner-text h1 {
      font-size: 40px !important;
      line-height: 40px !important; }
      .banner-text h1:before {
        top: -20px !important;
        width: 150px !important; } }
@media (max-width: 500px) {
  h2.center:before {
    width: 80% !important; }
  h2.right {
    font-size: 30px !important; }
    h2.right:before {
      width: 50px !important; } }

/*# sourceMappingURL=project.css.map */