.wrap-home {
  .block-1 {
    background-color: #fff;
    .wrap-tag {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      .tag-item {
        margin: 10px;
        min-width: 130px;
        min-height: 30px;
        background: #FAFAFA;
        border-radius: 61px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .content {
      position: relative;
      min-height: 590px;
      overflow: auto;
      h2 {
        position: relative;
        font-size: 24px;
        text-transform: uppercase;
        color: #F4CA6D;
        margin-bottom: 30px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: -22px;
          width: 100px;
          height: 4px;
          background: #F4CA6D;
          border-radius: 102px;
        }
      }
      .container {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .col-md-5 {
        padding-left: 44px;
      }
      .next {
        text-align: right;
        margin-bottom: 48px;
        a {
          font-style: italic;
          font-size: 12px;
          color: #383838;
        }
      }
      .wrap-action {
        font-size: 12px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
        div {
          margin-right: 20px;
          img {
            margin-right: 7px;
          }
        }
      }
      .main-img {
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 57%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
  .block-2 {
    .item-style {
      display: flex;
      margin: 38px 0;
      padding: 0 10px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        margin-right: 20px;
      }
      .label {
        font-size: 12px;
        margin-bottom: 12px;
        width: 57px;
        text-align: center;
        min-height: 19px;
        background: #F4CA6D;
        border-radius: 10px;
      }
      p {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #383838;
        &:hover {
          color: #F4CA6D;
        }
      }
    }
    .slider {
      margin-bottom: 45px;
      .slick-list {
        margin: 0 -10px;
      }
      .card {
        width: 280px;
        border-radius: 10px 10px 0px 0px;
        margin: 0 10px;
        .card-title {
          &:hover {
            color: #F4CA6D;
          }
        }
        h4 {
          font-weight: bold;
          font-size: 18px;
          text-transform: uppercase;
        }
        .more-info {
          font-size: 12px;
          display: flex;
          flex-wrap: wrap;
          span {
            font-weight: bold;
            color: #F4CA6D;
          }
          img {
            margin: 0 6px 0 25px;
          }
        }
      }
    }
    .direction {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 54px;
      background: #FFFFFF;
      border: 1px solid #CCCCCC;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #CCCCCC;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
  }
  .block-3 {
    padding: 60px 0;
    background-color: #fff;
    .main-img {
      height: 388px;
      width: 100%;
      border-radius: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .description {
      margin: 30px 0 35px 0;
      .text-content {
        margin-bottom: 39px;
      }
    }
    .more-info {
      img {
        margin: 0 8px 3px 25px;
      }
    }
    .post {
      display: flex;
      padding: 33px 15px;
      border-bottom: 1px solid #C4C4C4;
      &:last-child {
        border-bottom: none;
      }
      &:nth-child(1) {
         margin-top: 70px;
      }

      .img-post {
        width: 280px;
        height: 280px;
        object-fit: contain;
        margin-right: 20px;
        margin-bottom: 10px;
      }
      .label-style-2 {
        margin-bottom: 30px;
      }
      .more-info {
        margin-top: 50px;
      }
    }
    .wrap-paginate {
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      .page-item {
        font-size: 12px;
        width: 31px;
        height: 31px;
        margin: 0 3.5px;
        background: #F1F1F1;
        border-radius: 7px;
        &.active {
          .page-link {
            background: #F4CA6D
          }
        }
        .page-link {
          background: #F1F1F1;
          border-radius: 7px;
          border: none !important;
          color: black;
        }
      }
    }
    .aside {
      padding-right: 10px;
      h3 {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        color: #383838;
        margin-top: 20px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: -22px;
          width: 75px;
          height: 3px;
          background: #F4CA6D;
          border-radius: 94px;
        }
      }
      .brand-name{
        position: relative;
        padding-left: 38px;
        .no {
          display: block;
          position: absolute;
          left: 2px;
          top: 11px;
          font-size: 14px;
          text-align: center;
          line-height: 22px;
          width: 22px;
          height: 22px;
          background: #fff;
          &.active {
            background: #F4CA6D;
            border-radius: 6px;
          }
        }
      }
      .vote {
        .checked {
          color: #F4CA6D;
        }
      }
    }
  }
  .block-4 {
    .img-item {
      width: 100%;
      height: 195px;
      img {
        width: 18px;
        height: 15px;
      }
    }
    .col-xl-4 {
      padding: 0 10px;
    }
    .label-style-2 {
      right: unset;
      left: 9px;
      bottom: 10px;
    }
    .p-main {
      font-size: 16px;
    }
  }
  .block-5 {
    background-color: #F4CA6D;
    padding: 32px 0;
    .col-md-6 {
      padding: 10px;
    }
    h3 {
      color: #fff;
      margin-bottom: 26px;
      &:before {
        background: #fff;
      }
    }
    .p-main:hover {
      color: #fff;
    }
    .img-item {
      height: 388px;
    }
    .label-style-2 {
      right: unset;
      left: 9px;
      bottom: 11px;
    }
    .name-post {
      color: #383838;
    }
    .more-info {
      img {
        margin: 0 8px 3px 25px;
      }
    }
    .post-small {
      margin-bottom: 20px;
      .label-style-1 {
        background: #fff;
      }
      p:hover {
        color: #fff;
      }
      img {
        width: 180px;
        height: 87px;
      }
    }
  }
  .block-6 {
    .post {
      display: flex;
      padding: 33px 15px;
      border-bottom: 1px solid #C4C4C4;
      &:last-child {
        border-bottom: none;
      }
      &:nth-child(1) {
        margin-top: 40px;
      }

      .img-post {
        width: 180px;
        height: 180px;
        object-fit: contain;
        margin-right: 20px;
      }
      .label-style-2 {
        margin-bottom: 30px;
      }
      .more-info {
        margin-top: 50px;
        img {
          margin: 0 8px 3px 25px;
        }
      }
    }
  }
  .block-7 {
    .wrap-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 50px 0 15px 0;
    }
  }
  @media (max-width: 769px) {
    .block-1 {
      .content {
        .col-md-5 {
          padding-left: 20px;
        }
        .main-img {
          width: 100%;
          height: 50%;
        }
        .container {
          transform: unset;
          left: 0;
        }
        .next {
          margin-bottom: 20px;
        }
        .wrap-action {
          margin-bottom: 15px;
        }
      }
    }
    .block-3 {
      .post {
        flex-wrap: wrap;
      }
    }
  }
}